h1
  | Regional Manager Dashboard Page
br
= link_to('Invite Branch Manager', new_user_invitation_path, class: 'active')
br
= link_to('Clock-In', clock_in_path, class: 'active')
br
= link_to('Clock-Out', clock_out_path, class: 'active')
br
= link_to('Start Break', start_break_path, class: 'active')
br
= link_to('End Break', end_break_path, class: 'active')
